$fuente_principal : "Montserrat", sans-serif;


//colores
$morado:#c379e9 ;
$negro: #000000;
$blanco: #FFFFFF;
$amarillo: #fdda00;
$morado2: #752F97;
$rosa: #F53756;
$verde:#4CB8B3;

//mixins

$telefono:480px;
$tablet: 768px;
$desktop:1200px;
$desktopxl:1400px ;
